stages:
  - build
  - test
  - push

variables:
  DOCKER_BUILDKIT: "1"
  REGISTRY: registry.gitlab.com/fieldworksdiary/spatialite-image
  # Disable TLS for docker-in-docker
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

# Reusable buildx setup
.buildx-setup: &buildx-setup
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker context create builder-context
  - docker buildx create --use --name multiarch-builder --driver docker-container builder-context
  - docker buildx inspect --bootstrap

# Build Ubuntu image for multiple architectures
build:ubuntu:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    *buildx-setup
  script:
    - |
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        --file Dockerfile.ubuntu \
        --tag $REGISTRY:ubuntu-$CI_COMMIT_SHA \
        --push \
        .
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_ID

# Build Alpine image for multiple architectures
build:alpine:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    *buildx-setup
  script:
    - |
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        --file Dockerfile.alpine \
        --tag $REGISTRY:alpine-$CI_COMMIT_SHA \
        --push \
        .
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_ID

# Test Ubuntu image
test:ubuntu:
  stage: test
  image: $REGISTRY:ubuntu-$CI_COMMIT_SHA
  needs:
    - build:ubuntu
  script:
    - chmod +x tests/test-image.sh
    - ./tests/test-image.sh
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_ID

# Test Alpine image
test:alpine:
  stage: test
  image: $REGISTRY:alpine-$CI_COMMIT_SHA
  needs:
    - build:alpine
  script:
    - chmod +x tests/test-image.sh
    - ./tests/test-image.sh
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_ID

# Push final tags for Ubuntu
push:ubuntu:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  needs:
    - test:ubuntu
  before_script:
    *buildx-setup
  script:
    - |
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        --file Dockerfile.ubuntu \
        --tag $REGISTRY:ubuntu-latest \
        --tag $REGISTRY:ubuntu-$CI_COMMIT_REF_SLUG \
        --push \
        .
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

# Push final tags for Alpine
push:alpine:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  needs:
    - test:alpine
  before_script:
    *buildx-setup
  script:
    - |
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        --file Dockerfile.alpine \
        --tag $REGISTRY:alpine-latest \
        --tag $REGISTRY:alpine-$CI_COMMIT_REF_SLUG \
        --tag $REGISTRY:latest \
        --push \
        .
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

# Push version tags on release
push:release:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    *buildx-setup
  script:
    - |
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        --file Dockerfile.ubuntu \
        --tag $REGISTRY:ubuntu-$CI_COMMIT_TAG \
        --push \
        .
    - |
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        --file Dockerfile.alpine \
        --tag $REGISTRY:alpine-$CI_COMMIT_TAG \
        --tag $REGISTRY:$CI_COMMIT_TAG \
        --push \
        .
  rules:
    - if: $CI_COMMIT_TAG
